header {
  margin-bottom: 30px;
}
header > h1 {
  padding: 0;
  margin: 0 0 11px;
  height: 36px;
  line-height: 39px;
}
header > p {
  margin: 0;
}
@media (max-width: 380px) {
  header > p {
    font-size: 12px;
  }
}
header #logo {
  float: left;
  width: 63px;
  height: 63px;
  background: url(../img/logo.png);
  margin-right: 10px;
}
