body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}
a,
a:link,
a:visited,
a:active {
  color: #4078c0;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#wrapper {
  width: 780px;
  max-width: 100%;
  margin: 20px auto;
  box-sizing: border-box;
}
@media (max-width: 779px) {
  #wrapper {
    padding-right: 10px;
    padding-left: 10px;
  }
}
#logo {
  float: left;
  width: 63px;
  height: 63px;
  background: url(https://avatars0.githubusercontent.com/u/6033531?v=3&s=460);
  margin-right: 10px;
}
header {
  margin-bottom: 30px;
}
header > h1 {
  padding: 0;
  margin: 0 0 11px;
  height: 36px;
  line-height: 39px;
}
header > p {
  margin: 0;
}
@media (max-width: 380px) {
  header > p {
    font-size: 12px;
  }
}
#content {
  width: 100%;
  padding: 0 8px;
  box-sizing: border-box;
}
@media (max-width: 779px) {
  #content {
    padding: 0;
  }
}
#content .project {
  font-size: 14px;
  margin-bottom: 30px;
}
#content .project > h2 {
  margin: 0 0 10px;
}
#content .project > p {
  margin: 0 0 10px;
}
#content .project > code {
  font-family: 'Source Code Pro', "Courier New", sans-serif;
  display: block;
  line-height: 125%;
  padding: 15px;
  background: #f7f7f7;
  white-space: pre;
  word-wrap: break-word;
  max-height: 350px;
  overflow: auto;
}
@media (max-width: 779px) {
  #content .project > code {
    max-height: none;
  }
}
