@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro|Roboto);

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

a, a:link, a:visited, a:active {
    color: #4078c0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#wrapper {
    width: 780px;
    max-width: 100%;
    margin: 20px auto;
    box-sizing: border-box;

    @media (max-width: 779px) {
		padding-right: 10px;
        padding-left: 10px;
    }
}

#logo {
    float: left;
    width: 63px;
    height: 63px;
    background: url(../img/logo.png);
    margin-right: 10px;
}

header {
    margin-bottom: 30px;

    > h1 {
		padding: 0;
		margin: 0 0 11px;
		height: 36px;
		line-height: 39px;
    }

    > p {
        margin: 0;

		@media (max-width: 380px) {
			font-size: 12px;
		}
    }
}

#content {
    width: 100%;
    padding: 0 8px;
    box-sizing: border-box;

    @media (max-width: 779px) {
        padding: 0;
    }

    .project {
        font-size: 14px;
        margin-bottom: 30px;

        > h2 {
            margin: 0 0 10px;
        }

        > p {
            margin: 0 0 10px;
        }

        > code {
            font-family: 'Source Code Pro', "Courier New", sans-serif;
            display: block;
            line-height: 125%;
            padding: 15px;
            background: #f7f7f7;
            white-space: pre;
            word-wrap: break-word;
            max-height: 350px;
            overflow: auto;

            @media (max-width: 779px) {
                max-height: none;
            }
        }
    }
}